Makefile
Makefile.in
stamp-h1
*.log
*.trs

/aclocal.m4
/autom4te.cache
/config.guess
/config.sub
/config.status
/config.log
/compile
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/test-driver
/*.pc
/moduledist.conf
/lib/zorp/zorpconfig.h.in
/pylib/Zorp/Config.py
*~
*.sw?
*.pyc
\#*
*.orig
*.rej
*.o
*.lo
*.la
.deps/
.libs/
/.*project
/.settings
cscope.files
cscope.out
/Debug
/Release
semantic.cache
.emacs*
/doc/api
*.pyc

INSTALL

tests/python/runtest.sh
zorp-config
zorp/zorp
zorpblgen/zorpblgen
zorpconfig.h
zorpctl/zorpctl
