Source: zorp
Section: net
Priority: optional
Maintainer: BalaBit Development Team <devel@balabit.hu>
Standards-Version: 3.9.0
Build-Depends: python-dev (>=2.7), libssl-dev (>=1.0.0), libglib2.0-dev (>= 2.32.0), libzorpll-dev (>=5.0.0.0), gperf, debhelper (>= 6.0.7~), python-dns, python-radix, autoconf, automake, libtool, libboost-test-dev, python-openssl

Package: zorp
Section: net
Architecture: any
Depends: ${shlibs:Depends}, kzorp (= ${Source-Version}), python-openssl (>= 0.10-1), python-dns, python-kzorp (= ${Source-Version}), libzorp5.0-0 (= ${binary:Version}), python-zorp-base (= ${Source-Version})
Suggests: zorp-doc, zorp-modules (= ${Source-Version}), iptables-zorp-addons, iptables-kzorp-addon, zorp-munin-plugins, zorp-nagios-plugins
Pre-Depends: zorp-base (= ${Source-Version})
Description: An advanced protocol analyzing firewall
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 are scriptable with the Python based configuration language.
 .
 Zorp has been successfully deployed in demanding environments like the
 protection of high traffic web sites, or the protection of large intranets.
 Since the protocol analysis is strict and many of the common exploits
 violate the application protocol they are injected into, a large percentage
 of the attacks do not cross a Zorp based firewall even if the given service
 is permitted.

Package: zorp-dbg
Architecture: any
Depends: zorp (= ${Source-Version})
Description: An advanced protocol analyzing firewall
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 are scriptable with the Python based configuration language.
 .
 Debug symbols.

Package: libzorp5.0-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: libzorp2
Description: The runtime library of Zorp
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 .
 The library needed to run zorp.

Package: libzorp5.0-0-dbg
Section: libs
Architecture: any
Depends: libzorp5.0-0
Description: The runtime library of Zorp
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 .
 Debug symbols.

Package: libzorp5.0-dev
Section: libdevel
Architecture: any
Depends: python-dev (>=2.7), libzorpll-dev, libssl-dev (>=1.0.0), libzorp5.0-0 (= ${binary:Version}), ${misc:Depends}
Conflicts: zorp-dev, libzorp0-dev
Description: Development files needed to compile Zorp modules
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 are scriptable with the Python based configuration language.
 .
 These are the files you need to compile a zorp module.

Package: zorp-modules
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}
Recommends: zorp (= ${binary:Version})
Description: Default proxy modules for Zorp
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 are scriptable with the Python based configuration language.
 .
 This package includes proxies for the protocols: FINGER, FTP, HTTP,
 SSL, TELNET, WHOIS, and two general modules ANYPY and PLUG.


Package: zorp-modules-dbg
Architecture: any
Depends: zorp-modules (= ${Source-Version})
Description: Default proxy modules for Zorp
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 are scriptable with the Python based configuration language.
 .
 This package includes debug symbol of proxies.

Package: zorp-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Zorp documentation
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 .
 Zorp documentation and examples.

Package: python-zorp-base
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends}, python-radix, python-dns
Description: Python bindings for kzorp.
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 .
 Common python files for Zorp and kZorp.

Package: zorp-base
Architecture: all
Description: Base files for zorp
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 .
 Common files for Zorp and kZorp.

Package: python-kzorp
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends}, python-prctl
Description: Python bindings for kzorp.
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 .
 General python bindings for kzorp.

Package: kzorp
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends}, python-daemon, python-zorp-base (= ${Source-Version}), python-dns, python-kzorp
Pre-Depends: zorp-base (= ${Source-Version})
Description: Python bindings for kzorp.
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 .
 Standalone daemon that handles zones and updates dynamic zones.

Package: zorp-munin-plugins
Architecture: any
Depends: munin-node
Recommends: zorp
Description: An advanced protocol analyzing firewall
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 are scriptable with the Python based configuration language.
 .
 This package contains plugins for the Munin monitoring tool.

Package: zorp-nagios-plugins
Architecture: any
Suggests: zorp, nagios-nrpe-server, zms-transfer-agent-dynamic
Description: An advanced protocol analyzing firewall
 Zorp is a new generation firewall. It is essentially a transparent proxy
 firewall, with strict protocol analyzing proxies, a modular architecture,
 and fine-grained control over the mediated traffic. Configuration decisions
 are scriptable with the Python based configuration language.
 .
 This package contains plugins for the Nagios monitoring tool.
